<header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/dev/example">Dev Example</a></li>
      <li><a href="/api/example">API Example</a></li>
    </ul>
  </nav>
</header>
